<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Aluno_cad</display-name>
  <servlet>
    <servlet-name>Aluno_cad</servlet-name>
    <servlet-class>br.com.thiago.Aluno_cad.Telacadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tela_cadastro</servlet-name>
    <url-pattern>/tela_cadastro</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>TesteServelet</servlet-name>
    <servlet-class>br.com.thiago.Aluno_cad.TelaAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tela_aluno</servlet-name>
    <url-pattern>/tela_aluno</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>